{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <div class="content-login">
        <form method="POST">
            {% csrf_token %}
            <p>
                <label for="username"><strong>Nom d'utilisateur :</strong></label>
                <input id="username" type="text" name="username">
            </p>
            <p>
                <label for="password"><strong>Mot de passe :</strong></label>
                <input id="password" type="password" name="password">
            </p>
            <button type="submit">Connexion</button>
    </div>
{% endblock %}